extends layout

block content
  head
    title= tilte
    link(rel='stylesheet' href='stylesheets/style.css')
  body
    h1= title
    form(action="/users/create" methods="post")
      label(for="last_name") 名前(性):
      input(id="last_name" type="text" name="last_name" value="")
      label(for="first_name") 名前(名):
      input(id="first_name" type="text" name="first_name" value="")
      label(for="email") メールアドレス:
      input(id="email" type="text" name="text" value="")
      input(type="submit" value="新規作成")